In [1]:
import numpy as np 
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Считаем данные

In [2]:
train_x = pd.read_csv('input/train_x.csv', index_col=0, header=None)
train_y = pd.read_csv('input/train_y.csv', index_col=0)
test_x = pd.read_csv('input/test_x.csv', index_col=0, header=None)

In [3]:
## посмотрим как выглядят метки

train_y.head(3)

     target
0      Bird
1  Airplane
2  Airplane

In [4]:
train_x.shape

(7200, 3072)

## Переведем метки в бинарный вид

In [5]:
mappping_type = {'Bird': 0, 'Airplane': 1}
train_y = train_y.replace({"target": mappping_type})

In [6]:
train_y.head(3)

   target
0       0
1       1
2       1

## Попробуем логистическую регрессию
Для быстроты вычислим оптимальные параметры на первой сотне экзмеплрах

In [ ]:
%%time
from sklearn.model_selection import GridSearchCV

parameters = {'penalty':('l1', 'l2'), 'C':np.linspace(0.001, 0.05, 50)}
clf = LogisticRegression(n_jobs=-1)
lr_clf = GridSearchCV(clf, parameters, cv=5, scoring='accuracy', n_jobs=-1)
lr_clf.fit(train_x[:4000], train_y[:4000])

### Лучшие параметры модели

In [121]:
lr_clf.best_estimator_

LogisticRegression(C=0.67, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn', n_jobs=-1,
          penalty='l1', random_state=None, solver='warn', tol=0.0001,
          verbose=0, warm_start=False)

### Переобучаем с лучшими параметрами

In [44]:
%%time
best_lr_clf = LogisticRegression(penalty='l1', C=0.015, n_jobs=-1)

best_lr_clf.fit(train_x[100:4000], train_y[100:4000])
predict_y = best_lr_clf.predict_proba(test_x)

CPU times: user 1min 14s, sys: 232 ms, total: 1min 14s
Wall time: 1min 14s

## Готовим submit

In [45]:
df = np.array([[i, x.argmax()] for i, x in enumerate(predict_y)])
sample = pd.DataFrame(df, columns=['id', 'target'])

mappping_type_inv = {0: 'Bird', 1: 'Airplane'}
sample = sample.replace({'target': mappping_type_inv})

In [46]:
sample.head()

   id    target
0   0  Airplane
1   1  Airplane
2   2      Bird
3   3  Airplane
4   4      Bird

In [47]:
sample.to_csv('output/submit.csv', index=False)